* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
	font-size:12px;
	font-size:100%;
    margin:0px;
    padding:0px;
    width:100%;
    height: 99% !important;
    overflow:hidden !important;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    /*overflow:visible;*/
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

/* INICIO ALBERTO */

.contenedorLista{
    padding-left: 2%;
    padding-right: 2%;
}

#containerDetalle1, #containerDetalleLandscape{
    /*margin-top: 5%;*/
    height: 100% !important;
    width: 96% !important;
    overflow: hidden !important;
	padding-left: 2%;
}

.ui-radio{
    width: 50%;
}

.ui-radio input {
    height: 0;
    width: 0; 
}

.ui-controlgroup-controls{
    width: 100%;
}

.controlGroupClass{
    border: 0;
    margin-top: 0;
    margin-bottom: 0;
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
    border-top-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.liControlGroupClass{
    padding:0 !important;
}

.contenedorProducto{
    width: 90%;
    padding: 0 !important;
}

.btnControlGroupLeft{
    border-width: 0 !important;
    text-align: left;
    -webkit-border-top-left-radius: inherit !important;
    border-top-left-radius: inherit !important;
    -webkit-border-bottom-left-radius: inherit !important;
    border-bottom-left-radius: inherit !important;
}

.ui-icon-infoEdit {
    background-image: url(../img/icon-info-14-b.png);
    background-position: center;
    background-repeat: no-repeat;
}

.btnInfo{
    background-color: rgba(255, 211, 0,1);
    border-width: 0 !important;
    border-radius: 2em !important;
    padding: 0 !important;
    /*Tamaño fijo*/
    width: 28px !important;
    height: 28px !important;
}

.fondoLista0, .fondoLista1, .fondoLista4, .fondoLista5, .fondoLista6, .fondoLista7, .fondoLista9, .fondoLista12{
    background: url('../img/64x64-burofax.png');
    background-size: 25% auto;
    background-repeat: no-repeat;
}
.fondoLista2{
    background: url('../img/64x64-carta-certificada.png');
    background-size: 25% auto;
    background-repeat: no-repeat;
}
.fondoLista3{
    background: url('../img/64x64-filatelia.png');
    background-size: 25% auto;
    background-repeat: no-repeat;
}
.fondoLista8{
    background: url('../img/64x64-postal-4872.png');
    background-size: 25% auto;
    background-repeat: no-repeat;
}
.fondoLista10, .fondoLista11{
    background: url('../img/64x64-postal-expres.png');
    background-size: 25% auto;
    background-repeat: no-repeat;
}
.fondoLista13, .fondoLista14{
    background: url('../img/64x64-tu-sello.png');
    background-size: 25% auto;
    background-repeat: no-repeat;
}

.infoProducto{
    padding-left: 26%;
}

.nombreProducto {
    color: #000;
    font-weight: bold !important;
}

.precioProducto {
}

.plazoProducto{
}


/* FIN ALBERTO */

/* INICIO DANIEL */
.custom-corners .ui-bar {
  -webkit-border-top-left-radius: inherit;
  border-top-left-radius: inherit;
  -webkit-border-top-right-radius: inherit;
  border-top-right-radius: inherit;
}
.custom-corners .ui-body {
  border-top-width: 0;
  -webkit-border-bottom-left-radius: inherit;
  border-bottom-left-radius: inherit;
  -webkit-border-bottom-right-radius: inherit;
  border-bottom-right-radius: inherit;
}

.fondo-header {
	background: url('../img/correos-solo-texto-216px.png');
	background-size: auto 50%;
	background-position: 50%;
	background-repeat:no-repeat;
	height:3em;
}

.detalle {
	padding-top: 5%;
	padding-left: 5%;
	font-size: 1.8em;
	min-height: 3.6em;
	line-height:1.2;
	text-shadow: none;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
}

.fondo-tusello {
	background: url('../img/detalle-fondo-sello.jpg');
	background-size: 100%;
}

.fondo-paqinteco {
	background: url('../img/detalle-fondo-internacional.jpg');
	background-size: 100%;
}

.fondo-burofax {
	background: url('../img/detalle-fondo-fax.jpg');
	background-size: 100%;
}

.descripcion-servicio{
	padding-top: 0;
	padding-bottom:0;
}

.grid-caracteristicas {
	margin-top: 1em;
	margin-bottom: 1em;
	color: #000;
	font-weight: bold;
	font-size: 0.9em;
	text-shadow: none;
}

.label-titulos{
	font-size: 0.75em;
	margin:0;
}

.label-datos{
	font-size: 1.1em;
	margin:0;
}

.texto-servicio{
	font-size:0.75em;
}

.btn-detalle{
	border-width:0;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(255, 211, 0,1);
}

.slider-vista {
	position:absolute;
	top:3%;
	right:3%;
}

.slider-vista .ui-slider-switch {
	width: 7em;
}

.slider-vista .ui-slider-label {
	/*font-size:1.2em !important;*/
}

.slider-vista .ui-btn.ui-slider-handle {
	background-color: rgba(255, 211, 0,1);
	box-shadow: none;
	border-color: #004474;
}

#content {
	padding:0;
}

/* FIN DANIEL */
