<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=medium-dpi" />
        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/jquery-2.1.0.min.js"></script>
        <script type="text/javascript" src="js/jquery.mobile-1.4.2.min.js"></script>
        <script type="text/javascript" src="js/underscore-min.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
        <script type="text/javascript" src="js/login.js"></script>
        <script type="text/javascript" src="js/cargaXML.js"></script>
        <script type="text/javascript" src="js/xml2json.js"></script>        
        
        <link rel="stylesheet" type="text/css" href="css/jquery.mobile.icons.min.css" />
        <link rel="stylesheet" type="text/css" href="css/jquery.mobile-1.4.2.min.css">
        <link rel="stylesheet" type="text/css" href="css/jquery.mobile.iscrollview.css"/>
        <link rel="stylesheet" type="text/css" href="css/jquery.mobile.iscrollview-pull.css"/>
        <link rel="stylesheet" type="text/css" href="css/extendedIcons/jqm-icon-pack-fa.css"/>
        <link rel="stylesheet" type="text/css" href="css/correosTheme.jquery.mobile.theme-1.3.2.min.css"/>
        <link rel="stylesheet" type="text/css" href="css/index.css" />

    </head>
    <body>
        <script type="text/javascript">
            $(document).on('pageinit',"#listPage", app.initialize );
        </script>
<!-- LISTPAGE -->
        <div data-role="page" id="listPage" data-theme="e">
            <div data-theme="e" data-role="header" data-position="fixed" data-tap-toggle="false">
                <h3>
                    Correos
                </h3>
            </div>    
    <!-- INICIO CONTENIDO -->
            <div data-role="content" data-theme="e" id="content" data-role="true">
                
                <div data-role="navbar" id="nav" data-theme="e">
                    <ul>
                        <li><a id="btnLista" class="ui-btn-active ui-state-persist">Lista</a></li>
                        <li><a id="btnDetalle">Detalle</a></li>
                    </ul>
                </div>

                <div id="container1">
                    <div id="container2">
                        <ul id="productosList" data-role="listview" data-inset="true">
                       
                        </ul>
                    </div>
                </div>
                
                
                <div id="containerDetalle1">
                    <div id="containerDetalle2">
                        <div id="detalle">
                        
                            <div class="ui-corner-all custom-corners">
                                <a href="#" class="btn-detalle ui-btn ui-corner-all ui-icon-carat-u ui-btn-icon-notext ui-nodisc-icon"></a>
                                    <div class="fondo-burofax detalle ui-bar">
                                        Burofax
                                    </div>
                                    <div class="ui-body ui-body-c descripcion-servicio">
                                        <p class="texto-servicio">Este servicio se utiliza para enviar de manera urgente y segura documentos que requieran de una entrega fehaciente, sirviendo de prueba frente a terceros, por lo que siempre se entrega bajo firma del destinatario. Se puede acceder a este servicio tanto de manera online como acudiendo a cualquier oficina de Correos.</p>
                                        <div class="ui-grid-b grid-caracteristicas">
                                            <div class="ui-block-a">
                                                <p class="label-titulos">desde</p>
                                                <p class="label-datos">6.18€</p>
                                            </div>
                                            <div class="ui-block-b">
                                                <p class="label-titulos">plazo</p>
                                                <p class="label-datos">24 h</p>
                                            </div>
                                            <div class="ui-block-c">
                                                <p class="label-titulos">ámbito</p>
                                                <p class="label-datos">nacional e internac.</p>
                                            </div>
                                        </div>
                                    </div>
                                <a href="#" class="btn-detalle ui-btn ui-corner-all ui-icon-carat-d ui-btn-icon-notext ui-nodisc-icon"></a>
                              
                            </div>
                            
                            <div class="ui-corner-all custom-corners">
                                <a href="#" class="btn-detalle ui-btn ui-corner-all ui-icon-carat-u ui-btn-icon-notext ui-nodisc-icon"></a>
                                    <div class="fondo-paqinteco detalle ui-bar">
                                        Paquete Internacional Económico
                                    </div>
                                    <div class="ui-body ui-body-c descripcion-servicio">
                                        <p class="texto-servicio">Haz que tus envíos de paquetería sean lo más económicos con este servicio internacional adaptado a tus necesidades con posibilidad de seguimiento online y telefónico, aviso de recibo y mucho más.</p>
                                        <div class="ui-grid-b grid-caracteristicas">
                                            <div class="ui-block-a">
                                                <p class="label-titulos">desde</p>
                                                <p class="label-datos">15.53€</p>
                                            </div>
                                            <div class="ui-block-b">
                                                <p class="label-titulos">plazo</p>
                                                <p class="label-datos">8-10 días háb.</p>
                                            </div>
                                            <div class="ui-block-c">
                                                <p class="label-titulos">ámbito</p>
                                                <p class="label-datos">internac.</p>
                                            </div>
                                        </div>
                                    </div>
                                <a href="#" class="btn-detalle ui-btn ui-corner-all ui-icon-carat-d ui-btn-icon-notext ui-nodisc-icon"></a>
                            </div>
                            
                            <div class="ui-corner-all custom-corners">
                                <a href="#" class="btn-detalle ui-btn ui-corner-all ui-icon-carat-u ui-btn-icon-notext ui-nodisc-icon"></a>
                                    <div class="fondo-tusello detalle ui-bar">
                                        Tu sello
                                    </div>
                                    <div class="ui-body ui-body-c descripcion-servicio">
                                        <p class="texto-servicio">Este servicio te permite transformar imágenes en sellos reales de Correos. Haga exclusivos sus envíos de marketing directo o sus comunicaciones personales. El diseño se envía de forma online.</p>
                                        <div class="ui-grid-b grid-caracteristicas">
                                            <div class="ui-block-a">
                                                <p class="label-titulos">desde</p>
                                                <p class="label-datos">9.25€</p>
                                            </div>
                                            <div class="ui-block-b">
                                                <p class="label-titulos">plazo</p>
                                                <p class="label-datos">24 h</p>
                                            </div>
                                            <div class="ui-block-c">
                                                <p class="label-titulos">ámbito</p>
                                                <p class="label-datos">nacional</p>
                                            </div>
                                        </div>
                                    </div>
                                <a href="#" class="btn-detalle ui-btn ui-corner-all ui-icon-carat-d ui-btn-icon-notext ui-nodisc-icon"></a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>

            <script type="text/template" id="productList-template" >
                <% _.each(productList, function(producto) {%>
                    <li data-icon="false">
                        <a id="<%=(producto.Login)=="true"?"loginNecesario" : "" %>" class="contenedorProducto">
                            <div id="imgTitulo">
                                <img class="imagenProducto" src="<%= producto.Imagen %>" height="64" width="64"></img>
                            </div>
                            <div id="infoProducto">
                                <label class="nombreProducto"><%= producto.NombreProducto %></label>
                                <label class="precioProducto"><%= producto.PrecioProducto %></label>
                                <label class="plazoProducto">Plazo de entrega: <%= producto.PlazoEntrega %></label>
                            </div>
                        </a>
                    </li>
                <% }); %>
            </script>
        </div>

<!-- LOGIN PAGE -->
        <div data-role="page" id="loginPage" data-theme="e" data-scroll="true">
            <div data-theme="e" data-role="header" data-position="fixed" data-tap-toggle="false">
                <h3>
                    Login
                </h3>
            </div>    
    <!-- INICIO CONTENIDO -->
            <div data-role="content" data-theme="e" >    
                <div data-role="fieldcontain">  
                    <label class="etiqueta">Username:</label>  
                    <input class="required" id="username" name="uid_r" type="text" >            
                </div>  
                <div data-role="fieldcontain">  
                    <label class="etiqueta">Password:</label>  
                    <input id="password" name="pwd_r" type="password">            
                </div>  
            </div>

            <div data-theme="e" data-role="footer" data-position="fixed" data-tap-toggle="false">
                <div data-role="navbar">
                    <ul>
                        <li><a id="btnAceptar" data-role="button" data-icon="check" data-inline="true" data-mini="true">Aceptar</a></li>                        
                        <li><a id="btnAtrasLogin" data-role="button" data-icon="back" data-inline="true" data-mini="true">Atrás</a></li>
                    </ul>
                </div>
            </div> 
        </div>
    </body>
</html>
