<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=medium-dpi" />
        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/jquery-2.1.0.min.js"></script>
        <script type="text/javascript" src="js/jquery.mobile-1.4.2.min.js"></script>
        <script type="text/javascript" src="js/underscore-min.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
        <script type="text/javascript" src="js/login.js"></script>
        <script type="text/javascript" src="js/cargaXML.js"></script>
        <script type="text/javascript" src="js/xml2json.js"></script>        
        
        <link rel="stylesheet" type="text/css" href="css/jquery.mobile.icons.min.css" />
        <link rel="stylesheet" type="text/css" href="css/jquery.mobile-1.4.2.min.css">
        <link rel="stylesheet" type="text/css" href="css/jquery.mobile.iscrollview.css"/>
        <link rel="stylesheet" type="text/css" href="css/jquery.mobile.iscrollview-pull.css"/>
        <link rel="stylesheet" type="text/css" href="css/extendedIcons/jqm-icon-pack-fa.css"/>
        <link rel="stylesheet" type="text/css" href="css/correosTheme.jquery.mobile.theme-1.3.2.min.css"/>
        <link rel="stylesheet" type="text/css" href="css/index.css" />

    </head>
    <body>
        <script type="text/javascript">
            $(document).on('pageinit',"#listPage", app.initialize );
        </script>
<!-- LISTPAGE -->
        <div data-role="page" id="listPage" data-theme="e">
            <div data-theme="e" data-role="header" data-position="fixed" data-tap-toggle="false">
                <h3>
                    Correos
                </h3>
            </div>    
    <!-- INICIO CONTENIDO -->
            <div data-role="content" data-theme="e" id="content">
                
                    <div data-role="navbar" id="nav" data-theme="e">
                    
                        <ul>
                            <li><a id="btnLista" class="ui-btn-active ui-state-persist">Lista</a></li>
                            <li><a id="btnDetalle">Detalle</a></li>
                        </ul>
                    </div>
                <div data-scroll="true">
                    <ul id="productosList" data-role="listview" data-inset="true">
                   
                    </ul>

                </div>
                

                <div id="detalle">
                    <div class="ui-corner-all custom-corners">
					  <div class="fondo-correos-1 ui-bar" >
						Burofax
					  </div>
					  <div class="ui-body ui-body-c descripcion-servicio">
						<p>Haz que tus envíos de paquetería sean lo más económicos con este servicio internacional adaptado a tus necesidades.</p>
						<div class="ui-grid-b grid-caracteristicas">
							<div class="ui-block-a">Block A</div>
							<div class="ui-block-b">Block B</div>
							<div class="ui-block-c">Block C</div>
						</div>
					  </div>
					</div>
                </div>
            </div>

            <script type="text/template" id="productList-template" >
                <% _.each(productList, function(producto) {%>
                    <li data-icon="false">
                        <a id="<%=(producto.Login)=="true"?"loginNecesario" : "" %>" class="contenedorProducto">
                            <div id="imgTitulo">
                                <img class="imagenProducto" src="<%= producto.Imagen %>" height="64" width="64"></img>
                            </div>
                            <div id="infoProducto">
                                <label class="nombreProducto"><%= producto.NombreProducto %></label>
                                <label class="precioProducto"><%= producto.PrecioProducto %></label>
                                <label class="plazoProducto">Plazo de entrega: <%= producto.PlazoEntrega %></label>
                            </div>
                        </a>
                    </li>
                <% }); %>
            </script>
        </div>

<!-- LOGIN PAGE -->
        <div data-role="page" id="loginPage" data-theme="e" data-scroll="true">
            <div data-theme="e" data-role="header" data-position="fixed" data-tap-toggle="false">
                <h3>
                    Login
                </h3>
            </div>    
    <!-- INICIO CONTENIDO -->
            <div data-role="content" data-theme="e" >    
                <div data-role="fieldcontain">  
                    <label class="etiqueta">Username:</label>  
                    <input class="required" id="username" name="uid_r" type="text" >            
                </div>  
                <div data-role="fieldcontain">  
                    <label class="etiqueta">Password:</label>  
                    <input id="password" name="pwd_r" type="password">            
                </div>  
            </div>

            <div data-theme="e" data-role="footer" data-position="fixed" data-tap-toggle="false">
                <div data-role="navbar">
                    <ul>
                        <li><a id="btnAceptar" data-role="button" data-icon="check" data-inline="true" data-mini="true">Aceptar</a></li>                        
                        <li><a id="btnAtrasLogin" data-role="button" data-icon="back" data-inline="true" data-mini="true">Atrás</a></li>
                    </ul>
                </div>
            </div> 
        </div>
    </body>
</html>
